:root {
    --bg-color: #e0e0e0;
    --primary-color: #84cd7b;
}

html, body {
    background: var(--bg-color);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

@import './header.css';
@import './messages.css';
@import './footer.css';
